Take student data from UCI repo

In [1]:
from ucimlrepo import fetch_ucirepo 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn import model_selection

# fetch dataset 
student_performance = fetch_ucirepo(id=320) 

# data (as pandas dataframes) 
X = student_performance.data.features 
y = student_performance.data.targets 

X.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,4
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,6
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,0

Extract and split data into train/test (80/20)

In [4]:
x_data=y[['G1','G2']]
y_data=y['G3']
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.20)

Test Records: 130
Train Records: 519

Evaluate classifier

In [24]:
reg=LinearRegression().fit(X_train,y_train)
y_pred1=reg.predict(X_test)
r2 = r2_score(y_test, y_pred1)
k = model_selection.KFold(n_splits=10)
results = model_selection.cross_val_score(reg, x_data, y_data, cv=k)
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))
print(f'R-squared Score: {r2}')

R-squared Score: 0.9237375658776656

Accuracy: 82.563% (9.389%)